<?xml version="1.0" encoding="utf-8" ?>
<configuration>



	<!--
	Purpose of software:
		To extract coordinates from the monitoring database
		To write the coordinates to a CSV file in a predetermined format
		To deposit the file in a folder
		The file will be pushed by the FTPpush software to the recipients FTP server

	Supporting Software
		This software runs together with the FTPpush software
		The software needs the Coordinate_Export_Master.xlsx spreadsheet
		THe ATS & Settop must be feeding data to T4D
		The points must be defined in the T4D web interface
		The coordinates are extracted from the monitoring DB

	Preparation:
		Obtain the project title from T4D Web Administration/Projects
		Prepare the Coordinate_Export_Master spreadsheet with the point list:
			Only column B("Name") on the reference worksheet must be populated
			... and Column Q with Replacement Names if needed
			Columns C,D,H must have the survey coordinates of the prisms
			Column O the offset nbetween Top of Rail and prism
			Set the key = "PrepareCoordinateExportWorkbook" value = "Yes"
			Set TimeBlockType to "Manual"
			Set the ManualBlockStart and ManualBlockEnd times to the times to be used 
			  for the reference deltas
		Set PrepareCoordinateExportWorkbook to "Yes"
		Set the "CSVformat" key Datum, Dywidag, Standard etc
		Set the Replacement Names key to "Yes" or "No"
		Set the variables for the project
		Run the software  
		The point DB ID values will be populated and
		  the mean dN dE dH for the reference timeblock will be written to the Reference worksheet
		Populate columns I,J,K with the deltas*-1  (F2=-1*C2) converted to a fixed value.
		Columns Z,AA,AB must have 0.000
		(Current coordinates = Surveyed coordinates)
		Update the Col AO time stamp to be the starting date/time

	Scheduled operation
		Set PrepareCoordinateExportWorkbook to "No"
		Set TimeBlockType to "Schedule"
		
		
	Reference worksheet Columns
		SensorID = 1
		Name = 2
		Eref = 3
		Nref = 4
		Href = 5
		dE = 6
		dN = 7
		dH = 8
		dEcorr = 9
		dNcorr = 10
		dHcorr = 11
		Ecurrent = 12
		Ncurrent = 13
		Hcurrent = 14	
		Psm Offset = 15
		ToR current = 16
		ReplacementName = 17
		Reading Count = 18
		Type = 19
		Rail bracket = 20
		ToR survey = 21
		dEgross = 26
		dNgross = 27
		dHgross =  28
		Timestamp = 41

	Output:
		All coordinates are output between the time of the last file and now.
		No meaning is done
		
	Timekeeping:
		The program activity record file contains the time stamp of the last reading value
		If earlier coordinates are required, manually edit this timestamp back to the start time of the period that you want.
		
		Server Date and Time Settings
		Change system Locale: United Kingdonm
		Region United Kingdom
		Time Zone: London
		First day of week: Sunday
		Short date dd/MM/yyyy
		Long date d MMMM,yyyy
		Short Time: HH:mm
		Long time: HH:mm:ss
		
		date on screen: 13/03/2022
		time on screen: 13:36
		
		example:
		Name,UTCtime,Eref,Nref,Href,dE,dN,dH,E,N,H,Type
		1MC13_LSC2_RP_5M082_A,2022-07-26 13:45:15,195178.8081,381922.6328,79.7088,Monitoring prism

	-->
	<connectionStrings>

		<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=FulfenWood_GeoMoS; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings>

		<!-- Software License -->
		<add key="SoftwareLicenseTag" value="GEOMOSEXPCRD"/>

		<!-- Project settings -->
		<add key="ProjectTitle" value="Fulfen Wood Track Monitoring" />
		<add key="ReportType" value="CoordinateExport" />
		<add key="CoordinateOrder" value="ENH" />

		<add key="PrepareCoordinateExportWorkbook" value="Yes" /><!-- Yes/No used when generating reference corrections, using manualBlockStart and manualBlockEnd -->
		<add key="includeHeader" value="Yes" />
		<add key="ReplacementNames" value="Yes" />


		<!-- Database settings -->
		<add key="MonitoringSystemsName" value="Fulfen Wood Track Monitoring" />
		
		<!-- Freeze Screen -->
		<add key="freezeScreen" value="Yes" /><!-- Yes / No -->


		<!-- Excel workbook settings -->
		<add key="checkWorksheetsExist" value="No" />
		
		<add key="ExcelPath" value="C:\_GeoMoS\" />
		<add key="ExcelFile" value="CrdExport_master_20221110.xlsx" />
		<add key="FTPSubdirectory" value="C:\_GeoMoS\FTP\" />
		<add key="ReferenceWorksheet" value="Reference" />
		<add key="SurveyWorksheet" value="Survey" />
		<add key="FirstDataRow" value="2" />
		<add key="FirstOutputRow" value="8" />

		<!-- CSV file settings -->
		<add key="OutputFileExtension" value="csv" />
		<add key="CSVseparator" value="," />
		<add key="CSVformat4" value="Datum" />
		<add key="CSVformat2" value="Dywidag" />
		<add key="CSVformat1" value="Standard" />
		<add key="CSVformat" value="MissionOS" />
		<add key="includeToRdata" value="Yes" /><!-- Yes, No -->

		<!-- Timeblock settings, TimeStart is earlier than TimeEnd, TimeEnd is closer to TimeNow -->
		<add key="TimeBlockType" value="Manual" /><!-- Schedule, Historic, Manual -->

		<!-- Used to manually generate a single data file containing all the data between these 2 dates -->
		<add key="manualBlockStart" value="'2022-08-01 00:01'" />
		<add key="manualBlockEnd" value="'2022-09-10 23:59'" />

		<!-- Generates a series of data files of BlockSizeHrs between these 2 dates -->
		<add key="historicBlockStart" value="'2022-08-01 00:01'" />
		<add key="historicBlockEnd" value="'2022-09-10 23:59'" />

		<!-- Used by the Scheduler to produce the automatic reports -->
		<add key="TimeOffsetHrs" value="0" /> <!-- (scheduler) BlockEndTime = TimeNow - TimeOffset; BlockStartTime = BlockEndTime - BlockSize  -->
		<add key="BlockSizeHrs" value="6" />

		<!-- Email settings -->
		<add key="SendEmails" value="No" />

		<add key="EmailFrom" value="julian.gray@korecgroup.com"/>
		<add key="EmailLogin" value="t4direland2@gmail.com"/>
		<add key="EmailPassword" value="T4DIreland2020"/>
		<add key="EmailRecipients" value="gna.geomatics@gmail.com"/>

		<!--The license context used-->
		<add key="MailLicenseCode" value="ES-E1582190613-00131-72B1E1BD67B73FVA-C5TC1DDC612457A3"/>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

	</appSettings>










</configuration>